@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "./components/_footer.css";
@import "./components/_header.css";

/************ VARIABLES ************/
:root {
  --font: "Poppins", sans-serif;
  --font-header: "Oswald", sans-serif;
  --amber: #b0662d;
  --offwhite: #d2cdc6;
  --size: clamp(40px, 7vw, 96px);
  --body-bg: #d2cdc6;
}

/* Reset */
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Comportament suavitzat per a desplaçaments dins de la pàgina */
html {
  scroll-behavior: smooth;
}

/**************************************** Regles per aconseguir un sticky footer ****************************************/
html,
body {
  height: 100%;
  font-family: var(--font);
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font);
  line-height: 1.6;
  color: var(--body-color);
  font-weight: 400;
  background-color: var(--body-bg);
}

main {
  flex: 1 0 auto; /*Main ocupa tot l'esapi disponible*/
}

a {
  color: var(--body-color);
  text-decoration: none;
}

a:hover {
  border: none;
}
.container {
  max-width: 100%;
}

/******************* IMG **********************/

@media (min-width: 1200px) {
  .container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
}

@media (min-width: 768px) {
  .grid-blog > article,
  .grid-aside > article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
  }
}

@media (min-width: 992px) {
  .grid-blog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3rem;
    row-gap: 3rem;
  }

  .grid-blog article:first-child {
    grid-column: 1 / span 3;
  }

  .grid-blog article:first-child .article-body {
    display: flex;
    flex-direction: row;
  }

  .grid-blog article:first-child .article-image {
    width: 65%;
  }

  .grid-blog article:first-child .article-content {
    width: 35%;
  }
}
/* Multimèdia responsive */
.img-fluid {
  max-width: 100%;
  height: auto;
  display: block;
}

.article-body {
  background-color: #3b2a28;
  display: grid;
  grid-template-rows: 200px 1fr;
}

.article-body:hover {
  box-shadow: 0 0 10px #3b2a28;
}
.article-image {
  position: relative;
  overflow: hidden;
}

.article-image img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.copyright {
  position: absolute;
  bottom: 15px;
  right: 5px;
  font-size: 0.75rem;
  background-color: rgba(250, 250, 250, 0.5);
}

.article-content {
  padding: 1rem;
  background-color: white;
}
.ciutat-del-mes {
  background-color: white;
}
.ciutat-del-mes-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.ciutat-del-mes-container .img-ciutat-del-mes {
  flex: 1 1 45%;
  position: realtive;
}

.ciutat-del-mes-container .card-ciutat-del-mes {
  flex: 1 1 50%;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ciutat-del-mes-container .btn {
  display: inline-block;
  align-self: flex-end;
  margin-top: auto;
  background-color: #4a332fef;
  color: #fff;
  padding: 0.6rem 1.4rem;
  border-radius: 0.3rem;
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.ciutat-del-mes-container .btn:hover {
  background-color: #4a332f94;
}

div .intro,
.intro-desc {
  margin: 3rem 0;
}

/********************** DETALLS *********************/

.ruta-dia {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #3b2a28;
  color: white;
  padding: 2rem;
  margin-bottom: 2rem;
  gap: 1.5rem;
}

.article-ruta {
  display: flex;
  grid: 1;
}

.ruta-dia iframe {
  grid: 2;
  width: 100%;
}

.ruta-dia h3 {
  color: wheat;
}
.ruta-dia p {
  text-align: justify; /* justifica el text */
  hyphens: auto; /* partició de paraules (necessita lang="ca") */
  line-height: 1.6; /* millora la llegibilitat */
  text-justify: inter-word; /* opcional; efecte limitat fora d’IE/Edge antic */
  max-width: 65ch; /* evita línies massa llargues (opcional) */
}

.ruta-dia p a {
  text-decoration: underline;
}

.ruta-dia h3 {
  margin-bottom: 1rem;
}

iframe {
  width: 100%;
  height: auto;
  border: none;
  aspect-ratio: 16/9;
  margin-top: 1rem;
}

figcaption {
  font-size: 0.9rem;
}

section {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding: 2rem 0;
}

section h2 {
  margin-bottom: 1rem;
}

p {
  margin-top: 1rem;
}

/*fondos*/
/*.intro{background-color:#f7f4ef;}        /* Beige clar — to inicial suau */
.info {
  background-color: #f0dcc3;
} /* Més saturat — dóna contrast amb intro */
.rutes {
  background-color: #ede2d2;
} /* Més neutre, deixa respirar les targetes */
.gastronomia {
  background-color: #e2c9b3;
} /* Més càlid i fosc — equilibra abans del footer */
.imprescindibles {
  color: black;
}

/**************************  ESTIL GLIGHTBOX ***************************/
.galeria-nadal {
  padding: 2rem 1rem;
}

.galeria-nadal h2 {
  text-align: left;
  margin-bottom: 1.5rem;
}

.galeria-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1rem;
}

.galeria-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  cursor: pointer;
}

/******************************* formulari ***********************************/
form.contact {
  width: 100%;
}

fieldset {
  margin-top: 1.5rem;
  padding: 1.5rem;
  background-color: var(--light);
  border: none;
  border-radius: 10px;
}

fieldset fieldset {
  margin-top: 0;
  padding: 0;
  border: none;
}

fieldset fieldset ul {
  margin-left: 0;
  padding-left: 2rem;
  list-style-type: none;
}

fieldset fieldset li {
  margin-bottom: 0;
}

legend {
  font-size: 1.3rem;
  border: 1px solid var(--secondary);
}

legend:not(fieldset fieldset legend) {
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
}

label {
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
}

input + label {
  font-weight: normal;
}

input,
select {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: none;
  outline: none;
}

textarea {
  width: 100%;
  height: 10rem;
}

ul.group:first-child {
  padding-top: 1rem;
}

ul.group label,
input[type="checkbox"] + label {
  display: inline;
}

.out-fieldset {
  padding: 1rem 0;
}

p.info-legal,
p.mandatory {
  font-size: 0.9rem;
}

label span,
fieldset fieldset span,
p.mandatory > span {
  color: #ff0000;
}

.contact button {
  display: inline-block;
  width: auto;
  margin: 1rem 0;
  padding: 0.6rem 1.4rem;
  font-size: 1.1rem;
  color: white;
  background-color: #4a332fef;
  font-weight: 500;
  appearance: none;
  border-radius: 0.3rem;
  transition: background-color 0.3s ease;
}

.contact button:hover {
  background-color: #4a332f94;
}

.half,
.half-2n {
  display: inline-block;
  width: 48%;
  vertical-align: top;
}

.half-block {
  width: 48%;
}

.half-2n {
  margin-left: 2rem;
}

input[type="checkbox"] + label {
  display: inline;
}

/* Estils per a la màscara d'entrada i validació nativa */
input:focus,
select:focus,
textarea:focus {
  box-shadow: 0 0 8px var(--hover);
}

input::placeholder {
  color: #9f9f9f;
  font-size: 1.2em;
  font-style: italic;

}
input[type="text"]:required:user-invalid,
input[type="email"]:required:user-invalid,
input[type="tel"]:required:user-invalid,
input[type="date"]:required:user-invalid,
textarea:required:user-invalid,
select:required:user-invalid {
  border: 1px solid #ff0000;
}

input[type="text"]:required:user-valid,
input[type="email"]:required:user-valid,
input[type="tel"]:required:user-valid,
input[type="date"]:required:user-valid,
textarea:required:user-valid,
select:required:user-valid {
  border: 1px solid #4caf50;
}

